body {
		background-color: cadetblue;
}

p {
	color: red;
}

.Bball{
	font-style: italic;
}

.container {
	max-width: 840px;
	margin: 0 auto;
}

.introduction {
	text-align: center
}

.Bball {
	text-align: center
}

.picks {
	text-align: center;
}

.picks-grid {
	display: grid;
	grid-template-columns: 50% 50%;
}

.picks-image1 {
	border-radius: 50%;
	width: 300px;
	height: 300 px;
	box-shadow; 0 4 px 6 px 0 rgb(34, 60, 80, .16);
	transition: all ease-in-out .2s;
}

.picks-image1 {
	justify-self: center;
	padding: 4%;
}

.picks-image2 {
	border-radius: 50%;
	width: 300px;
	height: 300 px;
	box-shadow; 0 4 px 6 px 0 rgb(34, 60, 80, .16);
	transition: all ease-in-out .2s;
}

.picks-image2 {
	justify-self: center;
	padding: 4%;
}


.links-and-contact {
	display: grid;
	grid-template-columns: 50% 50%;
}

.links {
	justify-self: center;
}

.basketball {
	border-radius: 50%;
	width: 300px;
	height: 300 px;
	box-shadow; 0 4 px 6 px 0 rgb(34, 60, 80, .16);
	transition: all ease-in-out .2s;
} 